<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public//favicon.png" type="image/x-icon">
    <title>CodeWithAbdur</title>
</head>
<body>
    <div class="box">
    <h1>Hii I am CodeWithAbdur</h1>
    <p></p>
    <button class="techButton"><a href="/signout" id="button"></a></button>
    
</div>
    <script>
        const button = document.getElementById("button")
        // Retrieve the email from localStorage
        const email = localStorage.getItem("email");

        // Pass the email to the EJS template
        document.querySelector('p').innerHTML += `Nice To meet You ${email || 'Login Please'}`;

        if(email != null){
            button.setAttribute("href", "/signout")
            button.innerHTML = "Sign Out"
        }else{
            button.setAttribute("href", "/signin")
            button.innerHTML = "Login"
        }
    </script>
</body>
</html>
