<!DOCTYPE html>
<html>
<head>
    <title>CodeWithAbdur || Sign Out</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="box">
    <h1>Sign Out</h1>
    <p>Are you sure you want to sign out?</p>
        <button type="submit" class="techButton" id="signout" onclick="logOut()">Sign Out</button>
    </div>

    <script>
        const button = document.getElementById("signout")

        function logOut(){

            localStorage.removeItem("email")
            alert("SignOut Successfully")
             window.location.href = "/signin"; //redirecting to signi In
        }
    </script>
</body>
</html>
