<!DOCTYPE html>
<html>
<head>
    <title>CodeWithAbdur || SignUp Page</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>Register</h1>
    <form action="/signup" method="POST">
         <div class="container">
        <input type="email" name="email"  id="email" class="input" required>
        <label for="email" class="label">Email</label>
        </div>
        <div class="container">
        <input type="password" name="password" class="input"  id="password" required>
        <label for="password" class="label">Password</label>
        </div>
        <button type="submit" class="techButton">Login</button>
    </form>
</body>
</html>
